.schedule {
	font-size: 1.1em;
	line-height: 1.3em;
	&_gap {
		padding-right: 2em;
	}
}

.item {

	&--header {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		background-image: 
			url(/img/dog.png),
			url(/img/dog_blured.png),
      		linear-gradient(45deg, $subtle-ocean 0%, $subtle-biscuit 100%);
  		background-repeat: 
  			no-repeat,
      		no-repeat,
      		no-repeat;
  		background-position: 
      		right 20% top -10%,
      		center center,
      		right;
	}

}