.container {

	&--offer {

		.item {
			flex-direction: 

			&--header {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				background-image: 
					url(/img/dog_blured.png),
		      		linear-gradient(45deg, $subtle-ocean 0%, $subtle-biscuit 100%);
		  		background-repeat: 
		      		no-repeat,
		      		no-repeat;
		  		background-position: 
		      		center center,
		      		right;
			}

			&--services {

				.flexy {
					display: flex;
					flex-direction: row;

					.element {
						flex-basis: 50%;
						flex-shrink: 0;
					}
				}
				
			}

		}

	}

}