.container {

	&--offer {

		.item {

			&--header {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				background-image: 
					url(/img/dog_blured.png),
		      		linear-gradient(45deg, $subtle-ocean 0%, $subtle-biscuit 100%);
		  		background-repeat: 
		      		no-repeat,
		      		no-repeat;
		  		background-position: 
		      		center center,
		      		right;
			}

		}

	}

}