
.item {
	padding: 2em 3em;
	display: flex;
	flex-direction: column;
	text-decoration: none;
	color: $brutal-pencil;

	&--top {
		justify-content: flex-start;
	}

	&--stretch {
		justify-content: space-between;
	}

	&--cats {
		background-image:
      		url(/img/cat.png),
      		linear-gradient(45deg, $subtle-cream 0%, $subtle-cream 100%);
  		background-repeat: 
  			no-repeat,
      		no-repeat;
  		background-position: 
  			right -30% top 15%,
      		center center;
      	background-size: 
      		80%,
      		100%;
	}

	&--mail {
		background: linear-gradient(45deg, $subtle-cream 0%, $subtle-cream 100%);
	}

	&--boars {
		background:
			linear-gradient(45deg, $transparent-azure 0%, $transparent-azure 100%),
    	    url(/img/lab.jpg);
    	background-repeat: 
  			no-repeat,
      		no-repeat;
      	background-size:
      		cover,
      		cover;
	}

	&--telephone {
		background: $brutal-agate,
	}

	&--offer {
		@include mixin-gradient ($brutal-green, $brutal-grass);
	}

	&--map {
		@include mixin-gradient ($subtle-sea, $subtle-sea);
		display: flex;
		align-items: center;
		justify-content: center;

		background-color: $subtle-sea;
      	h3 {
      		text-align: center;
      	}
	}

	&--doves {
		@include mixin-gradient ($subtle-sea, $subtle-sea);
		display: flex;
		align-items: center;
		justify-content: center;

		background-color: $subtle-sea;
		background-image:
      		url(/img/pidgeon.png);
  		background-repeat: 
  			no-repeat,
      		no-repeat;
  		background-position: 
  			right 0 top 0,
      		center center;
      	background-size: 
      		46%,
      		100%;
      	h3 {
      		text-align: center;
      	}
	}

	&--grooming {
		background-image:
      		url(/img/york.png),
      		linear-gradient(45deg, $subtle-cream 0%, $subtle-cream 100%);
  		background-repeat: 
  			no-repeat,
      		no-repeat;
  		background-position: 
  			right 0 top 60%,
      		center center;
      	background-size: 
      		65%,
      		100%;
	}

	&--devices {
		@include mixin-gradient ($subtle-stone, $subtle-sky);
	}

	&--stuff {
		@include mixin-gradient ($brutal-azure, $brutal-azure);
	}

	&--space {
		@include mixin-gradient ($subtle-cream, $subtle-cream);
	}

	&--gallery {
		@include mixin-gradient ($brutal-green, $brutal-grass);
	}

	&--footer {
		@include mixin-gradient ($subtle-stone, $subtle-sky);
		display: flex;
		flex-direction: row;
		justify-content: space-between;
    	align-items: flex-end;
	}
}

.typography {
	&--intro {
		padding-top: 1.8em;
	}
}

.icon {
	display: inline-block;
	vertical-align: middle;

	&--after:after {
		display: inline-block;
		vertical-align: middle;
		font-family: 'Material Icons';
		font-size: 1.6em;
		content: "";
		padding-left: .3em;
	}

	&--trending-flat:after {
		content: 'trending_flat';
	}
}

.address {
	display: flex;
	align-items: center;
	
	img {
		padding-right: 2em;
	}
}

.list {
	color: $subtle-avocado;
	list-style-type: square;
	font-size: 1.2em;
    line-height: 1.4;
    letter-spacing: .00128em;
    padding: 0.2em 0;
    margin-bottom: 1em;
}