
.container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-auto-rows: 30vh;
	grid-gap: 0;

	&--home {

		.item {

			&--header {
				grid-column: 1 / 6;
				grid-row: 1 / 3;
			}

			&--cats {
				grid-column: 1 / 4;
				grid-row: 3 / 4;
			}

			&--boars {
				grid-column: 1 / 3;
				grid-row: 4 / 5;
			}

			&--offer {
				grid-column: 3 / 4;
				grid-row: 4 / 5;
			}

			&--map {
				grid-column: 4 / 6;
				grid-row: 3 / 5;
			}

			&--doves {
				grid-column: 1 / 6;
				grid-row: 5 / 8;
			}

			&--grooming {
				grid-column: 1 / 4;
				grid-row: 8 / 9;
			}

			&--devices {
				grid-column: 1 / 4;
				grid-row: 9 / 11;
			}

			&--stuff {
				grid-column: 4 / 6;
				grid-row: 8 / 10;
			}

			&--space {
				grid-column: 4 / 5;
				grid-row: 10 / 11;
			}

			&--gallery {
				grid-column: 5 / 6;
				grid-row: 10 / 11;
			}

			&--footer {
				grid-column: 1 / 6;
				grid-row: 11 / 12;
			}
		}
	}

	&--contact {

		.item {

			&--header {
				grid-column: 1 / 6;
				grid-row: 1 / 3;
			}

			&--mail {
				grid-column: 1 / 3;
				grid-row: 3 / 4;
			}

			&--telephone {
				grid-column: 3 / 6;
				grid-row: 3 / 4;
			}

			&--map {
				grid-column: 1 / 6;
				grid-row: 4 / 6;
			}

			&--footer {
				grid-column: 1 / 6;
				grid-row: 6 / 7;
			}

		}
	}

	&--offer {

		.item {

			&--header {
				grid-column: 1 / 6;
				grid-row: 1 / 3;
			}

		}

	}

}

