html {
	font-family: 'Lato Regular', sans-serif;
	color: $brutal-pencil;
}

h1 {
	font-family: 'Crete Round', serif;
	color: $brutal-agate;
}

h3 {
	font-family: 'Crete Round', serif;
	color: $brutal-agate;
}

h4 {
	font-family: 'Lato Light', sans-serif;
	text-transform: uppercase;
}

h5 {
	font-family: 'Lato Light', sans-serif;
	font-size: 2em;
	color: $brutal-agate;
	margin-bottom: .5em;
}

a {
	color: $brutal-agate;
	&:hover {
		color: $brutal-pencil;
	}
}

.negative {
	color: $brutal-white;
}

.highlighter {
	font-family: 'Lato Bold', sans-serif;
	color: $brutal-agate;
}

.enhance {
	color: $brutal-nut;
}

.text {
	&--bigger {
		font-size: 120%;
	}
}