html {
	font-family: 'Lato Regular', sans-serif;
	color: $brutal-pencil;
}

h1 {
	font-family: 'Crete Round', serif;
	line-height: 1.3em;
	color: $brutal-agate;
}

h2 {
	font-family: 'Crete Round', serif;
	color: $brutal-agate;
}

h3 {
	font-family: 'Lato Light', sans-serif;
}

h4 {
	padding: 0.3em 0;
	text-transform: uppercase;
}

p {
	padding: 1em 0;
}

a {
	color: $brutal-agate;
	&:hover {
		color: $brutal-pencil;
	}
}

.negative {
	color: $brutal-white;
}

.highlighter {
	font-family: 'Crete Round', serif;
	color: $brutal-agate;
}

.enhance {
	color: $brutal-nut;
}