
@font-face {
  font-family: 'Lato Light';
  src: url('/fonts/lato/lato_light.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Lato Regular';
  src: url('/fonts/lato/lato_regular.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Crete Round';
  src: url('/fonts/crete/crete.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/material/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: 
    local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(/fonts/material/MaterialIcons-Regular.woff2) format('woff2'),
    url(/fonts/material/MaterialIcons-Regular.woff) format('woff'),
    url(/fonts/material/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.material-icons {
  &.md-2 { font-size: 2em; }
  &.md-4 { font-size: 4em; }
  &.md-5 { font-size: 5em; }
  &.md-6 { font-size: 6em; }
}












// Uniwersal and responsive Font Map Assets. See more at http://www.modularscale.com
// Unitless functions system to convert px to em

@function em($pixels, $context: $browser-context) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }
  @if (unitless($context)) {
    $context: $context * 1px;
  }
  @return $pixels / $context * 1em;
}

// breakpoint mixin
@mixin breakpoint($mq01: 0, $mq2: false, $maxmin: max-width) {
    @if $mq2 == false {
        @media ($maxmin: $mq01) {
            @content;
        }
    }
    @else {
        @media (min-width: $mq01) and (max-width: $mq2) {
            @content;
        }
    }
}

// responsive font size mixin
@mixin font-size-map($font-size-map) {
    @each $breakpoint, $font-size in $font-size-map {
        @if $breakpoint == null {
            font-size: em($font-size);
        } @else {
            @include breakpoint($breakpoint) {
                font-size: em($font-size);
            }
        }
    }
}

// breakpoint variables
$xl: 1400px;
$lg: 1170px;
$md: 1024px;
$sm: 576px;
$xs: 480px;

// body font size
$browser-context: 16;

// typography scale sass map
$body-font-size: (
  null: 17px,
  $lg: 30px,
  $md: 24px, 
  $sm: 38px, 
  $xs: 70px
);

$h1-font-size: (
  null: 80px
);

$h2-font-size: (
  null: 24px
);

html {
    line-height: 1;
    @include font-size-map($body-font-size);
}

h1 {
    @include font-size-map($h1-font-size);
}

h2 {
    @include font-size-map($h2-font-size);
}