// Colors

$subtle-ocean: #f3ffff;
$subtle-sea: #f8ffff;
$subtle-sky: #e5fffe;
$subtle-biscuit: #fff9ea;
$subtle-stone: #fffffd;
$subtle-cream: #fbfbfb;
$subtle-avocado: #3d8b4f;

$transparent-grass: rgba(52, 203, 116, 0.3);
$transparent-azure: rgba(10, 241, 175, 0.8);

$brutal-azure: #0af1af;
$brutal-grass: #34cb74;
$brutal-green: #0eaa42;
$brutal-agate: #434399;
$brutal-white: #ffffff;
$brutal-pencil: #5f5d5d;